@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Poppins:wght@300;400;500;600;700&family=Sunflower:wght@300&display=swap');

:root {
  --gap: 2px;
  --primary-clr: #fff;
  --accent-clr: #4B2E9F;
}

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.slideImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #03171d;
  font-family: "Poppins", serif;
  overflow: hidden;
} */

.container {
  width: 90%;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  padding: 0px 60px 60px 60px;
}

.swiper-slide {
  position: relative;
  width: 300px;
  height: 500px;
  background: var(--primary-clr);
  box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  user-select: none;
}

.animate .swiper-slide-active {
  width: 600px;
  transition: width 1s ease-in-out;
  border: 3px solid var(--primary-clr);
}

.swiper-slide img {
  position: absolute;
  inset: 0;
  filter: grayscale(90%);
}

.animate .swiper-slide-active img {
  filter: grayscale(0%);
}

/** Title **/

.title {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 25px 25px 30px;
}

.title h1 {
  font-size: 2rem;
  font-family: "Sunflower", serif;
  font-weight: 700;
  color: var(--primary-clr);
  opacity: 1;
  transition: 0.8s ease;
  transition-delay: 1s;
}

.animate .swiper-slide-active .title h1 {
  opacity: 0;
  transition-delay: -200ms;
}

/** Content **/

.content {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  padding: 25px var(--gap) 65px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    180deg,
    transparent,
    transparent,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0 , 0, 0.7)
  );
  color: var(--primary-clr);
  opacity: 0;
  z-index: 1;
}

.animate .swiper-slide-active .content {
  opacity: 1;
  transition: 0.8s;
  transition-delay: 0.5s;
}

.text-box {
  border-left: 4px solid var(--accent-clr);
  padding-left: 10px;
  margin-bottom: 8px;
  opacity: 0;
}

.animate .swiper-slide-active .text-box {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 1s;
}

.text-box p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  transform: translateY(100%);
  opacity: 0;
}

.animate .swiper-slide-active .text-box p {
  transform: translateY(0);
  opacity: 1;
  transition: 1.5s ease;
  transition-delay: 1s;
}

/** Footer **/

.footer {
  position: absolute;
  bottom: 20px;
  left: var(--gap);
  width: calc(100% - var(--gap) * 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
}

.animate .swiper-slide-active .footer {
  opacity: 1;
}

/** Fooder -> Category **/

.category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category span {
  color: var(--primary-clr);
  font-size: 0.85rem;
  padding: 5px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
}

.animate .swiper-slide-active .category span {
  opacity: 1;
  transition: 0.8s ease-out;
  transition-delay: calc(1.5s + var(--i) * 0.4s);
}

/** Footer -> Button **/

button {
  position: relative;
  font-size: 0.85rem;
  font-weight: 500;
  padding: 8px 15px;
  background: var(--primary-clr);
  color: #000;
  border: 0;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.animate .swiper-slide-active button {
  opacity: 1;
  transition: 0.8s ease-out;
  transition-delay: 3s;
}

.label {
  position: relative;
}

button:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
  background-color: var(--accent-clr);
  border-radius: 50%;
}

button:hover::before {
  width: 200px;
  height: 200px;
}

button:hover .label{
  color: var(--primary-clr);
}

/** Pagination **/
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--primary-clr);
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  width: 32px;
  border-radius: 14px;
  background-color: var(--accent-clr);
  transition: all 0.8s ease-in-out;
}

/** Media Queries **/
@media (max-width: 800px){
  .swiper-slide-active {
    width: 500px;
  }
}

@media (max-width: 650px){
  .swiper-slide-active {
    width: 400px;
  }

  .text-box p {
    font-size: 0.9rem;
  }

  .category span {
    font-size: 0.8rem;
    padding: 3px 8px;
  }

  button {
    font-size: 0.8rem;
    padding: 7px 14px;
  }
}

@media (max-width: 520px){
  .swiper {
    width: auto;
    margin: 0 auto;
    padding: 30px;
  }
  .swiper-slide-active {
    width: 300px;
  }

  .title h1 {
    font-size: 2rem;
  }

  .text-box {
    margin-bottom: 0px;
  }

  .text-box p {
    font-size: 0.8rem;
    line-height: 1.3;
  }

  .category {
    gap: 5px;
  }

  .category span {
    font-size: 0.7rem;
    padding: 2px 5px;
  }

  button {
    font-size: 0.7rem;
    padding: 5px 12px;
  }
}